* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F8FF;
}
.btn-cls:hover {
  background-color: yellow;
  color: black;
}
.banner-section {
  font-family: 'Raleway', sans-serif;
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1440px 652px;
  min-height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

/* NAVIGATION */
.heading-nav {
  width: 100%;
  max-width: 1440px;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.list-none {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-left: 0;
}

.btn-logo {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
  text-decoration: none;
}

.btn-cls {
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* HERO SECTION */
.hero-banner {
  margin-top: 210px;
}

.hero-banner h1 {
  font-size: 65px;
  color: #1f2937;
  font-weight: 700;
  margin-bottom: 30px;
}

/* ACTION SET PART */
.wrapper {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Action Section */
.action-section {
  padding: 100px 0;
  font-family: 'Raleway', sans-serif;
}

.action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 175px;
  flex-wrap: wrap;
}

.action-content {
  flex: 1;
  min-width: 300px;
}

.action-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
}

.action-image img {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.h2-action {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 23px;
  color: #252432;
}

.p-action {
  font-size: 24px;
  margin-bottom: 23px;
  color: rgba(37, 36, 50, 0.5);
}

/* STATS SECTION */
.stats-section {
  padding: 100px 0;
}

.stats-box {
  background-color: #e5e7ff;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

.stats-heading {
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #252432;
  margin-bottom: 40px;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.stat-item h3 {
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  font-weight: 700;
  margin-bottom: 10px;
}

.stat-item p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

/* CONTACT SECTION */
.contact-section {
  padding: 100px 0;
}

.contact-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-heading {
  flex: 1;
  min-width: 280px;
  margin: 120px 0;
}

.contact-heading h2 {
  font-size: 70px;
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  resize: none;
}

.contact-form .btn-cls {
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}